@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.header-text {
  font-family: 'Montserrat Alternates';
}

.product-options input[type="radio"] {
  display: none;
}
.product-options label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
}
.product-options input[type="radio"]:checked + label {
  border-color: rgb(212, 16, 16);
}

.color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}
.color-circle.selected {
  border: 2px solid #000;
}

.menu-header {
  border-bottom: 2px solid #4d5055;
  color: #9ca3af;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.menu-header.active {
  border-bottom: 4px solid #4d5055;
  color: rgb(61, 54, 54);
}

.item-size {
  font-family: 'Oswald';
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-bottom 0.4s ease, border-color 0.4s ease;
}

.item-size.selected {
  border-bottom: 2px solid currentColor;
}

input:checked + span span {
  opacity: 1;
  transition: opacity 0.6s ease;
}

input:not(:checked) + span span {
  opacity: 0;
  transition: opacity 0.6s ease;
}

input:not(:checked) + span {
  border-color: gray;
}

input:checked + span {
  border-color: black;
}

.product-option.selected {
  border: 2px solid black;
  border-radius: 8px;
  color: black;
}

.container-field .header-text {
  font-family: 'Roboto', Arial;
}

@media screen and (max-width: 768px) {
  .constructor-container {
    padding: 0px;
  }
  
  .container-field {
    padding: 2px;
  }

  .container-field .header-text {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 30%;
  }
}

@media screen and (min-width: 769px) {
  .constructor-container {
    padding: 16px;
  }

  .container-field .header-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
}


.fade-out {
  opacity: 0;
  transition: opacity 500sms ease-out;
}

.relative {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -42%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
}

.overlay-text {
  font-size: 2vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error-message {
    background-color: red;
    color: white;
    padding: 2vh;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
}

